[default]
{{ range (onepassword "Personal AWS Keys" "Service Credentials").fields -}}
{{   if and (eq .label "aws_access_key_id") -}}
aws_access_key_id = {{ .value }}
{{   end -}}
{{   if and (eq .label "aws_secret_access_key") -}}
aws_secret_access_key = {{ .value }}
{{   end -}}
{{ end }}
