{{- if eq .chezmoi.hostname "behemoth" -}}
{{- range (onepassword "behemoth_ed25519" "Service Credentials").fields -}}
{{-   if eq .label "public key" -}}
{{ .value }}
{{ end -}}
{{- end -}}
{{- end -}}
